.carrossel-home {
    max-width: 800px;
    max-height: 800px;
}

.carrossel-home img {
    position: relative;
    left: 20%;
    bottom: 20%;
    width: 100%;
    max-width: 60%;
    max-height: 60%
    
}