// Variáveis
$max-width: 890px;
$home-card-width: 150px;
$home-card-height: 270px;
$home-card-bg-color: white;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$border-radius: 6px;
$transition: 0.3s ease-in;
$icon-hover-color: rgba(223, 148, 8, 0.87);
$price-color: #4040E6;
$button-bg-color: #40DDE6;
$button-bg-hover: #ffffff;

// Container de produtos
.produtos {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  max-width: $max-width;
}

// Estilo do card de produto
.home-card {
  width: $home-card-width;
  height: $home-card-height;
  max-height: 400px;
  font-size: small;
  background-color: $home-card-bg-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin: 20px 30px 20px 0;
  transition: $transition;  
  position: relative;

  // Ícone
  .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; 
    transition: $transition;

    &:hover {
      color: $icon-hover-color;
    }
  }

  // Descrição do produto
  .desc-product {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    p {
      text-align: center;
      line-height: 22px;
    }

    h2 {
      padding-bottom: 35%;
      max-block-size: 15%;
    }

    span {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      color: $price-color;
    }
  }

  // Botão
  button {
    padding: 10px 20px;
    width: 100px;
    border-radius: $border-radius;
    font-weight: bold;
    font-size: 13px;
    background-color: $button-bg-color;
    cursor: pointer;
    display: none;
  }

  // Hover no card
  &:hover {
    cursor: pointer;
    transform: scale(1.02);


    button {
      z-index: 1;
      display: flex;
    }
  }
}
