*
.horizontal-list {
    display: flex;
    justify-content: space-evenly; // Pode usar space-between, space-evenly, flex-start, flex-end, etc.
    list-style-type: none; // Remove os marcadores padrão
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    background-color: #9b9999; // Cor de fundo opcional
    width: 100%;
}