*
.horizontal-footer {
    display: flex;
    justify-content: space-evenly; // Pode usar space-between, space-evenly, flex-start, flex-end, etc.
    list-style-type: none; // Remove os marcadores padrão
    padding: 20px 0;
    margin: 200px 0;
    background-color: var(--bar-color); // Cor de fundo opcional
    width: 100%;
}