// PARA ID "#NOME", PARA CLASS ".NOME" PARA COMANDOS DIRETOS COMO H1 "COMANDO"
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .horizontal-nav {
    display: flex;
    // Pode usar space-between, space-evenly, flex-start, flex-end, etc.
    list-style-type: none; // Remove os marcadores padrão
    margin: 0;
    background-color: #80A0E5; // Cor de fundo opcional
   
    
    li {
      position: relative;
      display: flex;
      font-size: 20px;
      align-items: center;
      text-align: center;
      margin-right: 50px;
    }

    .logo{
      font-size: 10px;
      margin-left: 40px;
      max-width: 100px;
      max-height: 70px;
    }
  }

  h1 {
    max-height: 100px;
    padding-right: 300px;
    }