// PARA ID "#NOME", PARA CLASS ".NOME" PARA COMANDOS DIRETOS COMO H1 "COMANDO"
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .horizontal-nav {
    display: flex;
    justify-content: space-evenly; // Pode usar space-between, space-evenly, flex-start, flex-end, etc.
    list-style-type: none; // Remove os marcadores padrão

    margin: 0;
    background-color: #80A0E5; // Cor de fundo opcional
   
    
    .horizontal-nav li {
      padding: 10px 10px
    }

    .logo{
      max-width: 100px;
      max-height: 1000px;

    }
  }

  #home {
    color: green

  }